body{
    background-image:url(images/downf.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contain {
    display:inline-block;
    box-shadow: 5px 5px;
    width:80%;
    margin-left: 160px;
    background-color:white;
    
}
.contain img{
    padding-right: 100px; 
    
}


/*.head{
    border: 1px solid red;
    display:inline-block;
    box-shadow: 5px 5px;
    width:80%;
    margin-left: 180px;*/
    
.head ul{
    margin-left: 25px;
    padding-bottom: 10px;
}
.head ul li{
    border: 1px solid grey;
    text-decoration: none;
    float:left;
    margin-left:25px;
    margin-right:25px;

    list-style: none;
    
}
.head ul li a{
    text-decoration: none;
    color:black;
    margin-left: 35px;
    margin-right: 35px;
    font-family:fantasy;
    
    
}
.head ul li a:hover{
    text-decoration: none;
    color:orangered;
    
}


.body {
  display: flex;
  align-items: center;
  justify-content:space-around;
  height: 60%;
  margin: 0px;
  padding: 0px;
}

.name {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
    align-content: flex-start;
    margin-left: 0px;
    text-justify: inherit;
    justify-content: center;
}

.wrapper { 
    background-color: azure;
 margin-top:0px;
  align-content:space-around;
margin-bottom: 0px;
  max-width:100%;
    max-height: 100%;
  display: flex;
  flex-direction: row;
  height:80%;
  justify-content:flex-start
}

.left, .right {
  background-color:cyan;
 max-height: 180%;
    margin-left: 4px;
  
  margin: 0px;
  max-width:280%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  align-items: center;
  justify-content:center;
}
.bio{
    font-family: fantasy;
    margin-right: 5px;
    margin-bottom: 2px;
}

.profile-picture {
    align-self: center;

    max-width: 100%;
    justify-content:center;
}

.mybio{
    border-style:solid;
    background-color: aquamarine;
    max-height: 100%;
    padding: 3px;
}
.mybio ul{
    list-style:none;
    margin-left: 0px;
    display:inline-table;
    justify-content: flex-start;
    
}
.mybio ul li{
    border-style: groove;
} 

.table{
    border-style: solid;
    background-color: antiquewhite;
    max-height: 100%;
    max-width: 100%;
    display: flex;
}
.help li{
    list-style: none
}

.contact ul li{
    list-style: none;
    display: contents;
}
.contact{
    background-color:lightcyan;
    max-height: inherit;
    max-width: inherit;
}
    
.contact span{
    background-color: blanchedalmond;
}


.resume button{
    tab-size: 35px;
    background-color:antiquewhite;
    padding: 25px 42px;
    border:5px solid black;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 26px;
    font-family: sans-serif;
    border-style: solid;
        
}
.resume button:hover {
  background-color:aquamarine;
  color: white;
}
    



.foot ul li{
    list-style: none;
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
    border:1px solid grey;
    
    
}

.foot ul li a{
    text-decoration: none;
    color:black;
    margin-left: 35px;
    margin-right: 35px;
    font-family:fantasy;
}
    
.foot ul li a:hover{
     text-decoration: none;
    color:orangered;
    font-family: fantasy;
    
}
.social{
    display:inline-block;
    position: fixed;
    
}
.social ul li{
    text-decoration: none;
    list-style: none;
    padding-bottom: 70px;
}
.social a{
    display: inline-block;
    position: fixed;
    color: aliceblue;
    text-decoration: none;
}